@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  color: #212121;
  font-feature-settings: "rlig" 1, "calt" 1;
}

.step {
  counter-increment: step;
}

.step:before {
  position: absolute;
  height: 2.25rem;
  width: 2.25rem;
  background-color: #0099CC;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  text-align: center;
  transform: translateX(-50%);
  margin-left: -0.5px;
  font-family: monospace;
  font-weight: 500;
  color: #ffffff;
  content: counter(step);
}

.gradient-text, .gradient-text-secondary, .gradient-text-accent {
  background: linear-gradient(90deg, #8031F7 0%, #0099CC 50%, #00CC85 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.gradient-title {
  background: linear-gradient(90deg, #8031F7 0%, #0099CC 50%, #00CC85 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
} 